:root{
    --main-blue:#192f9c;
    --main-font:"Century Gothic";
}

body{
    background:#f0f0f0;
    font-family: var(--main-font);
}

.letter-logo{
    font-family:Algerian;
    color:var(--main-blue);
    font-size:65px;
}
.navi{
    z-index: 99;
    background: white;
    box-shadow: 0px 0px 6px 3px rgba(224,224,224,1);
}
.navi a{
    color:inherit;
}
.search input[type=search]{
    border:1px solid #d0d0d0;
    background:#f0f0f0;
    padding:1px;
    height:35px;
    border-radius:5px;
    margin-right: 5px;
    transition: 0.3s;
}
.search input[type=search]:focus{
    outline:none;
    background: #e0e0e0;
}
.picture-nav{
    border-radius:50%;
    background: #e5e5e5;
    width: 50px;
    height: 50px;
}
.user-nav{
    margin-left:25px;
}
.dd-btn{
    margin-left:0px;
    border:none;
    background: none;
}
.dd-btn::after{
    display:none;
}
.white_box{
    background:white;
    padding:15px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(224,224,224,1);
}
/* ---------------------------------------- */
.m-top{
    margin-top:15px;
}
.m-top2{
    margin-top:25px;
}
.m-top3{
    margin-top:35px;
}
/* ---------------------------------------- */
.form label{
    font-size:15px;
    text-transform: uppercase;
}
.form input[type=email],.form input[type=password],.form input[type=text]{
    border:0;
    border-bottom:1px solid #777;
    border-radius:0;
    padding:0;
    background:#fafafa;
    font-size:14px;
}
.form input[type=submit]{
    background: var(--main-blue);
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px;
}
.login{
    margin-top:50px;
}
.input-error{
    background:#ffcccb !important;
    font-size:1rem;
}
label.error_text{
    display:block;
    text-transform: none;
    color:#980702;
}
.btn-blue{
    background: var(--main-blue);
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px;
}
.status_sign{
    font-size:50px;
}
.m-left{
    margin-left:15px;
}
.a-middle{
    text-align:center;
    color:#293598;
    display: block;
}
