:root{
    --second:#192f9c;
    --main-blue:#e8513b;
    --main-font:"Century Gothic";
}

.get_blue{
    background: var(--main-blue);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.box ::-webkit-scrollbar-track{
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    background:#f0f0f0;
    font-family: var(--main-font);
}

.letter-logo{
    font-family:Calibri;
    color:var(--main-blue);
    font-size:65px;
}
.letter-logo:hover{
    text-decoration: none !important;
}
.topbar{
    background: var(--main-blue);
    margin-top:auto;
    margin-bottom: auto;
    height: 25px;
    z-index: 101;
    color:white;
}
.navi{
    z-index: 99;
    background: white;
    /*box-shadow: 0px 0px 6px 3px rgba(224,224,224,1);*/
}
.navi a{
    color:inherit;
}
.search input[type=search]{
    border:1px solid #d0d0d0;
    background:#f0f0f0;
    padding:1px;
    height:35px;
    border-radius:5px;
    margin-right: 5px;
    transition: 0.3s;
}
.search input[type=search]:focus{
    outline:none;
    background: #e0e0e0;
}
.picture-nav{
    border-radius:50%;
    background: #e5e5e5;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}
.user-nav{
    margin-left:25px;
}
.dd-btn{
    margin-left:0px;
    border:none;
    background: none;
}
.dd-btn::after{
    display:none;
}
.white_box{
    background:white;
    padding:15px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(224,224,224,1);
}
/* ---------------------------------------- */
.m-top{
    margin-top:15px;
}
.m-top2{
    margin-top:25px;
}
.m-top3{
    margin-top:35px;
}
.m-bot{
    margin-bottom: 15px;
}
/* ---------------------------------------- */
.form label{
    font-size:15px;
    text-transform: uppercase;
}
.form input[type=email],.form input[type=password],.form input[type=text]{
    border:0;
    border-bottom:1px solid #777;
    border-radius:0;
    padding:0;
    background:#fafafa;
    font-size:14px;
}
.form input[type=submit]{
    background: var(--main-blue);
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px;
}
.login{
    margin-top:50px;
}
.input-error{
    background:#ffcccb !important;
    font-size:1rem;
}
label.error_text{
    display:block;
    text-transform: none;
    color:#980702;
}
.btn-blue{
    background: var(--main-blue);
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px;
}
.status_sign{
    font-size:50px;
}
.m-left{
    margin-left:15px;
}
.a-middle{
    text-align:center;
    color:#293598;
    display: block;
}
.item-box{
    width:100%;
    padding:10px;
    transition: 0.1s;
    border-radius: 2px;
}
.item-box:hover{
    background: #d9d9d9;
}
.item-box img{
    width:100px;
    border:1px solid #e3e3e3;
}
.item-box h5{
    margin-left:10px;
}
.scroll-auto{
    overflow: auto;
    padding-bottom: 15px;
}
.big-box{
    background: #fcfcfc;
    padding:10px;
}
.big-box img{
    min-width:100px;
}
.form-error{
    border-radius:3px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top:50px;
}

.uploadbtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.uploadbtn_wrap{
    padding:15px;
    background: #3bb975;
}
.uploadbtn_wrap .fa-upload{
    font-size:30px;
}
.uploadbtn_wrap span{
    font-size:30px;
    margin-left:15px;
}
.m-top-50{
    margin-top:50px;
}
img.active{
    border:3px solid darkorange;
}
img.col-12{
    padding-left:0;
    padding-right:0;
}
.no-drag{
    pointer-events: stroke;
}
.img_bubble{
    height: auto;
    border-radius: 100%;
    border:1px solid #e3e3e3;
}
.info_box div{
    width: 100%;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    display:flex;
    margin-top:10px;
}
.info_box img{
    margin-right: 5px;
}
.flag-sm{
    border:1px solid #ddd;
    height: 20px;
}
.no-a{
    color:inherit;
}
.tags .tag{
    padding:10px;
    background: var(--main-blue);
    color:white;
    margin:5px;
    user-select: none;
    cursor: pointer;
}
.tags{
    display:flex;
    flex-wrap: wrap;
    overflow: auto;

}
.btn:hover{
    text-decoration: none;
    color:#d3d3d3;
}
.no-a:hover{
    text-decoration: none;
    color:inherit;
}
.offer_info{
    display: block;
}
.offer_head{
    font-size:20px;
}
.review_box{
    background: #ede1c6;
}
.m-15{
    margin-left: 15px;
    margin-right: 15px;
}
.offer-item-info{
    text-align: center;
    padding:20px;
    background: #f1f1f1;
}
.delivery .fas{
    color:#ed263f;
}
.money .fas{
    color:#bf9700;
}
.time .fas{
    color: #293598;
}
.payment .far{
    color:#4b8b50
}
.test_offer{
    flex: 1;
}

.loader {
    margin:auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--main-blue);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading{
    padding:15px;
    display:flex;
    justify-content: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}

.searcherror{
    background: #ffe2db;
    padding:15px;
    border:1px solid #ffc6bd;
    border-radius:3px;
    color:black;
    text-align: center;
}
.search-item .item-img{
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:3px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2) !important;
}

@media only screen and (min-width: 1600px){
    .col-rl-1 {width: 8.33% !important;padding-left:15px;padding-right:15px}
    .col-rl-2 {width: 16.66% !important;padding-left:15px;padding-right:15px}
    .col-rl-3 {width: 25% !important;padding-left:15px;padding-right:15px}
    .col-rl-4 {width: 33.33% !important;padding-left:15px;padding-right:15px}
    .col-rl-5 {width: 41.66% !important;padding-left:15px;padding-right:15px}
    .col-rl-6 {width: 50% !important;padding-left:15px;padding-right:15px}
    .col-rl-7 {width: 58.33% !important;padding-left:15px;padding-right:15px}
    .col-rl-8 {width: 66.66% !important;padding-left:15px;padding-right:15px}
    .col-rl-9 {width: 75% !important;padding-left:15px;padding-right:15px}
    .col-rl-10 {width: 83.33% !important;padding-left:15px;padding-right:15px}
    .col-rl-11 {width: 91.66% !important;padding-left:15px;padding-right:15px}
    .col-rl-12 {width: 100% !important;padding-left:15px;padding-right:15px}
}
.info-side .small{
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
}
.info-side{
    margin-top:auto;
    margin-bottom: auto;
}
.info-side a{
    color:#00097d
}
.info-side td:last-child{
    padding-left:10px;
}
.info-side tr td:first-child{
    text-align: center;
}
.td-center{
    text-align: center;
}
td{
}
.right-side{
    margin-bottom:auto;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.test{
    background: #ed5745;
}
ul.breadcrumbs{
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs{
    overflow: hidden;
    width: 100%;
}

.breadcrumbs li{
    float: left;
    margin: 0 .5em 0 1em;
}

.breadcrumbs a{
    background: #ddd;
    padding: .5em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
}

.breadcrumbs a:hover{
    background: var(--main-blue);
}

.breadcrumbs a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

.breadcrumbs a:hover::before{
    border-color: var(--main-blue) var(--main-blue) var(--main-blue) transparent;
}

.breadcrumbs a::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

.breadcrumbs a:hover::after{
    border-left-color: var(--main-blue);
}

.breadcrumbs .current,
.breadcrumbs .current:hover{
    font-weight: bold;
    background: none;
}

.breadcrumbs .current::after,
.breadcrumbs .current::before{
    content: normal;
}

.topbar a{
    color:inherit;
}
.cat_item{
    transition: 0.3s;
}
.no-padding{
    padding-left:0 !important;
    padding-right:0 !important;
}

/*----------------------*/

.head{
    background:#d9d9d9;
    padding:10px;
}
.stars{
    font-size:25px;
}
.subnav a{
    padding:10px;
    background: #c9c9c9;
    cursor:pointer;
    color:black;
    transition: 0.05s;
    user-select: none;
}
.subnav a.selected{
    background: #ababab;
}
.border{

}
